.mockup {
  z-index: -100;
}

.mockup1 {
  width: 700px;
  height: 700px;
  top: 120px;
  left: -230px;
}

.mockup2 {
  width: 1000px;
  height: 1000px;
  top: 200px;
  left: 50%;
}

.mockup-img {
  max-width: 100%;
  height: auto;
}
