.mockup1 {
  width: 700px;
  height: 700px;
  top: 150px;
  left: -200px;
  transform-style: preserve-3d;
}

.mockup2 {
  width: 700px;
  height: 700px;
  z-index: -8;
  top: 45%;
  left: 70%;
}

.mockup-img {
  max-width: 100%;
  height: auto;
}


.scene-3d {
  overflow: hidden;
  background-color: white;
}
