.card {
  z-index: -100;
}

.card1 {
  height: 120px;
  width: 120px;
  border-radius: 12px;
  background-color: #ff453a;
  top: 130px;
  left: 0%;
}

.card2 {
  height: 200px;
  width: 200px;
  border-radius: 18px;
  background-color: #30d158;
  top: 80px;
  left: 99%;
}

.card3 {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #0a84ff;
  top: 66%;
  left: 0%;
}
